*{
    padding : 0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;

}
body{
    background:#eee;
    padding: 0;
    /* background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png"); */
}
.margin{
    margin-left: auto;
    margin-right: auto;
}
.login-signup{
    cursor: pointer;
    color: #536162;
}

.login-signup:hover{
    color: black;
}